.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

.menu-lateral {
  display: flex;
  flex: 1;
}

.menu-container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #0c497a;
  padding: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.menu-item-select {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #3fab49;
  text-decoration: none;
}
.menu-item:hover {
  background-color: #3fab49;
}

.item-text {
  margin-left: 10px;
}
