.menu-lateral {
  display: flex;
  flex: 1;
  background-color: lightcoral;
}

.menu-container {
  display: flex;
  flex-direction: column;
  background-color: #0c497a;
  color: white;
  padding: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #555;
}

.item-text {
  margin-left: 10px;
}
