@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.menu-header {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #0c497a;
  padding: 10px;
  gap: 10px;
}

.menu-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: beige;
}

.menu-button {
  background-color: #0c497a;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
